<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrevista de Candidato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/entrevista_feita.css') }}">
</head>
<body>
    <div class="container">
        <h1>Entrevista de Candidato</h1>
        
        <!-- Dados Gerais do Candidato -->
        <section id="dadosGerais">
            <h2>Dados do Candidato</h2>
            <div class="campo" id="nomeCandidato">
                <strong>Nome do Candidato:</strong> <span id="nome"></span>
            </div>
            <div class="campo" id="idEntrevista">
                <strong>ID:</strong> <span id="id"></span>
            </div>
            <div class="campo" id="cargo">
                <strong>Cargo:</strong> <span id="cargoSpan"></span>
            </div>
            <div class="campo" id="filial">
                <strong>Filial:</strong> <span id="filialSpan"></span>
            </div>
            <div class="campo" id="dataNascimento">
                <strong>Data de Nascimento:</strong> <span id="dataNascimentoSpan"></span>
            </div>
            <div class="campo" id="cpf">
                <strong>CPF:</strong> <span id="cpfSpan"></span>
            </div>
            <div class="campo" id="telefone">
                <strong>Telefone:</strong> <span id="telefoneSpan"></span>
            </div>
            <div class="campo" id="email">
                <strong>Email:</strong> <span id="emailSpan"></span>
            </div>
            <div class="campo" id="dataEntrevista">
                <strong>Data da Entrevista:</strong> <span id="dataEntrevistaSpan"></span>
            </div>
        </section>

        <!-- Dados Específicos do Cargo -->
        <section id="cargoEspecifico">
            <!-- Os dados específicos do cargo serão inseridos aqui -->
        </section>
        <div id="mensagem"></div>
        
        <button onclick="voltarParaPaginaAnterior()">Voltar</button>
        <button id="aprovar" onclick="mudarAprovacao('aprovado')">Aprovar</button>
        <button id="recusar" onclick="mudarAprovacao('recusado')">Recusar</button>
        
    </div>

    <!-- Inclusão do arquivo JavaScript -->
    <script src="{{ url_for('static', filename='js/entrevista_comp.js') }}"></script>
</body>
</html>
